:root {
    --spacing: 5px;
    --scrollbar-width: 10px;
    --menu-height: 30px;
    --menu-color: hsl(0deg 0% 10%);
}

html, input, a {
    font-family: system-ui;
}

body {
    margin: 0;
    padding: 0;
}

.menu-div {
    background: hsl(0deg 0% 80%);
    border-bottom: 1px solid hsl(0deg 0% 64%);
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    color: var(--menu-color);
}

.menu-div a {
    color: var(--menu-color);
    font-size: 15px;
    font-variant: all-small-caps;
    text-decoration: none;
    padding: 3px 10px 6px 10px;
    cursor: pointer;
}

.menu-div a:first-child {
    margin-left: 0;
}

.menu-div a:hover {
    color: hsl(0deg 0% 95%);
    background: grey;
}

.main-div {
    padding: calc(2 * var(--spacing));
    box-sizing: border-box;
    height: calc(100vh - var(--menu-height));
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    margin: 0 0 calc(3 * var(--spacing)) 0;
    padding: 0;
    font-variant: small-caps;
}

input[type="text"] {
    padding: var(--spacing);
    background: white;
}

input[type="button"] {
    cursor: pointer;
    background-color: #f0f0f0;
}

input[type="button"]:hover {
    background-color: lightgray;
}

input[type="text"], input[type="button"] {
    border: 1px solid darkgray;
    border-radius: 5px;
}

input[type="button"] .selected {
    border: 1px solid #2196f3;
}

.controls-div, .location-div {
    padding: 0 0 calc(2 * var(--spacing)) 0;
    display: flex;
    align-items: center;
}

.controls-div input[type="button"], .location-div * {
    font-size: 18px;
    margin-right: var(--spacing);
}

.controls-div input[type="button"], .location-div input[type="button"] {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
}

.pause-btn, .play-btn, .prev-btn, .stop-btn, .next-btn, .loop-btn, .shuffle-btn {
    background-image: url(/resources/icons.png);
    background-size: 128px;
}

.pause-btn {
    background-position: calc(-2 * 32px - 1px) -1px;
    margin-left: var(--spacing);
}

.prev-btn {
    background-position: -1px calc(-32px - 1px);
}

.stop-btn {
    background-position: calc(-3 * 32px - 1px) -1px;
}

.next-btn {
    background-position: calc(-32px - 1px) calc(-32px - 1px);
}

.loop-btn {
    background-position: calc(-32px - 1px) calc(-3 * 32px - 1px);
    margin-left: var(--spacing);
}

.shuffle-btn {
    background-position: calc(-1px) calc(-3 * 32px - 1px);
}

.location-div {
    font-style: italic;
}

.location-div span {
    font-size: 16px;
}

.search-div {
    margin-bottom: calc(2 * var(--spacing));
}

.table-div {
    border: 1px solid darkgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.table-head-tr-div {
    background: #eee;
    border-bottom: 1px solid darkgray;
    padding-right: var(--scrollbar-width);
}

.table-head-td-div, .table-body-td-div {
    border-left: 1px solid darkgray;
}

.table-head-td-div:first-child, .table-body-td-div:first-child {
    border-left: none;
}

.table-body-div {
    overflow-y: scroll;
}

.table-body-div .table-body-tr-div {
    border-top: 1px solid #ddd;
}

.table-body-tr-div:first-child {
    border-top: none;
}

.table-body-tr-div:nth-child(even) {
    background-color: #f2f2f2;
}

.table-body-td-div, .table-head-td-div {
    display: inline-block;
    padding: var(--spacing);
    box-sizing: border-box;
    width: 50%;
}

.table-body-td-div, .table-body-td-div input[type="button"] {
    font-size: 14px;
}

.table-body-td-div * {
    margin-right: var(--spacing);
}